<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>商品編集</h4>
      <%= form_with(model: [:admin, @item], local: true) do |f| %>
        <div>
          <%= f.label :image, '商品画像' %>
          <%= f.file_field :image %>
        </div>
        <div>
          <%= f.label :name, '商品名' %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :item_details, '商品説明' %>
          <%= f.text_area :item_details %>
        </div>
        <div>
          <%= f.label :price, '税抜価格' %>
            <%= f.number_field :price %>円
        </div>
        <div>
          <%= f.label :genre, 'ジャンル' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
        </div>
        <div>
          <%= f.label :is_sold_out, '販売ステータス' %>
        <div>
        <div>
          <%= f.radio_button :is_sold_out, true %>
          <%= f.label :is_sold_out_on_sale, "販売中"  %>
          <%= f.radio_button :is_sold_out, false %>
          <%= f.label :is_sold_out_off_sale, "販売停止中" %>
        </div>
        <%= f.submit '変更を保存', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>