<!doctype html>
<html lang="ja">
<body>
  <main>
    <!--メイン画像-->
  <!--<div class="main-visual">-->
  <div class="slideshow-container">
    <div class="slide fade" style="background-image: url('/assets/top1.jpg'); background-size: cover; background-position: center;"></div>
    <div class="slide fade" style="background-image: url('/assets/top2.jpg'); background-size: cover; background-position: center;"></div>
    <div class="slide fade" style="background-image: url('/assets/top3.jpg'); background-size: cover; background-position: center;"></div>
    <div class="slide fade" style="background-image: url('/assets/top4.jpg'); background-size: cover; background-position: center;"></div>
    <!--ジャンル検索欄-->
      <%= render 'layouts/genres' %>
    </div>
  </div>
  </main>
    <div class="main-visual-content">
      <h4 class="main-visual-text">
        ようこそ、ながのCAKEへ！
      </h4>
      <p class="main-visual-name">
        このサイトでは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧は出来ますが、<br>
        購入には会員登録が必要になります。<br>
      </p>
    </div>
  <!--新着商品-->
  <item>
    <section class="newitem">
      <h2 class="new-h">新着商品</h2>
    </section>
    <div class="row">
        <% @items.first(4).each do |item| %>
          <div class="col-md-3">
            <div class="card mb-4">
              <%= link_to item_path(item), class: "card-link" do %>
              <div style="max-width: 100%; max-height: 180px; overflow: hidden; position: relative;">
                <%= image_tag item.image, class: "card-img-top", style: "object-fit: contain; width: 100%; height: 100%; object-position: center;" %>
              </div>
                <div class="card-body">
                  <h6 class="card-title"><%= item.name %></h6>
                  <p class="card-text"><%= item.price %>円</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  </item>
</body>

</html>