<!--/orders/new-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>注文情報入力</h2>
      <%= form_with model: @order, local: true do |f| %>
        <div>
          <h5>
            <strong>支払方法</strong>
          </h5>
            <%= f.radio_button :payment_method, "credit_card", checked: true %>
            <%= f.label :payment_method_credit_card, "クレジットカード" %>
          <br>
            <%= f.radio_button :payment_method, "transfer" %>
            <%= f.label :payment_method_transfer, "銀行振込"%>
        </div>
        <br>
        <div>
          <h5>
            <strong>お届け先</strong>
          </h5>
          <%= f.radio_button :address_type,"member_address", checked: true %>
          <%= f.label :address_type, "ご自身の住所" %>
          <p>〒<%= current_customer.post_code%> <%=current_customer.address %> <%=current_customer.full_name%></p>
          <%= f.radio_button :address_type, "registered_address" %>
          <%= f.label :address_type, "登録済み住所" %>
          <br>
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
        </div>
        <br>
        <%= f.radio_button :address_type, "new_address" %>
        <%= f.label :address_type, "新しいお届け先" %>
        <div class="form-group row">
          <%= f.label :post_code, "郵便番号(ハイフンなし)", class: "col-form-label col-sm-3" %>
          <div class="col-sm-3">
            <%= f.text_field :post_code, class: "form-control", placeholder: "0000000" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :address, "住所", class: "col-form-label col-sm-3" %>
          <div class="col-sm-5">
            <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :name, "宛名", class: "col-form-label col-sm-3" %>
          <div class="col-sm-3">
            <%= f.text_field :name, class: "form-control", placeholder: "令和道子" %>
          </div>
        </div>
        <br>
        <%= link_to "確認画面へ進む",confirm_orders_path, class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>